<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>19/12/19 15:48:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoadTest.afterClass()[pri:0, instance:com.project.pom.LoadTest@6f1fba17]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/12/19 15:47:54</td>   <td>-57339</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoadTest.beforeClass()[pri:0, instance:com.project.pom.LoadTest@6f1fba17]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/12/19 15:48:01</td>   <td>-50243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoadTest.ebayTest()[pri:0, instance:com.project.pom.LoadTest@6f1fba17]">ebayTest</td> 
  <td>main@238157928</td>   <td></td> </tr>
</table>
