<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcbaf1">  <td>19/12/18 12:26:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoadTest.beforeClass()[pri:0, instance:com.project.pom.LoadTest@3e9b1010]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94264799</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/12/18 12:26:51</td>   <td>4663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoadTest.ebayTest()[pri:0, instance:com.project.pom.LoadTest@3e9b1010]">ebayTest</td> 
  <td>main@94264799</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/12/18 12:27:24</td>   <td>37951</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoadTest.afterClass()[pri:0, instance:com.project.pom.LoadTest@3e9b1010]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94264799</td>   <td></td> </tr>
</table>
